*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
}
.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../image/game__back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

}
.bird{
    width: 60px;
    height: 60px;
    object-fit: cover;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}
.masege{
    position: absolute;
    z-index: 10;
    color: crimson;
    top: 200px;
    left: 400px;
    transform: translate(-50%,-50%);
    text-align: center;
}
#score{
position: fixed;
z-index: 10;
font-weight: 100;
font-size: 10vh;
color: #fff;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
top: 0;
left: 0;
margin: 10px;
}
.score_val{
    color: gold;
    font-weight: bold;
}
.massegeStyle{
    background-color: #fff;
    padding: 30px;
    box-shadow: rgb(41, 40, 40) 0 3px 8px;
    border-radius: 6px;
}
.pipe__sprite{
    position: fixed;
    top: 40vh;
    left: 100vh;
height: 70vh;
width: 6vw;
background: radial-gradient(lightgreen 50%,green);
border: 5px solid #000;
}